---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@font-face {
    font-family: "PT Sans";
    src: url("/assets/font/PTSans-Regular.ttf");
}

@font-face {
    font-family: "Google Sans";
    src: url("/assets/font/GoogleSans-Regular.ttf");
}

@font-face {
    font-family: "HarmonyOS Sans";
    src: url("/assets/font/HarmonyOS_Sans-Regular.ttf");
}

@font-face {
    font-family: "SabonNextLT";
    src: url("/assets/font/SabonNextLT.ttf");
}

@font-face {
    font-family: Monaco;
    src: url("/assets/font/monaco.ttf");
}


/* system typefaces */
// $serif: "PT Sans", Optima, Georgia, Times, serif !default;
$serif: "SabonNextLT", "HarmonyOS Sans", Optima, Georgia, Times, serif !default;
// $sans-serif: "PT Sans", "Lucida Grande", Optima, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$sans-serif: "SabonNextLT", "HarmonyOS Sans", Optima, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.85em !default; 
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// font size
// html {
//     font-size: 14px; // originally 16px

//     @include breakpoint($medium) {
//         font-size: 16px; // originally 18px
//     }

//     @include breakpoint($large) {
//         font-size: 18px; // originally 20px
//     }

//     @include breakpoint($x-large) {
//         font-size: 18px; // originally 22px
//     }
// }

html {
    font-size: 11px; // originally 16px

    @include breakpoint($medium) {
        font-size: 11px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 13px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 15px; // originally 22px
    }
}

a {
    text-decoration: none;
}


// body {
//     font-size: 16px;
// }