---
layout: archive
classes: wide
toc: true
toc_sticky: true
---

<h2 class="archive__title">{{ "About Me" }}</h2>
<p>
I am now a 5th year Ph.D. candidate in the MapleCG group, School of Computing (SoC), National University of Singapre (NUS), under the supervision of Prof. Bryan Low. Before that, I received my B.Sc degree in Department of Computer Science and Technology from Huazhong University of Science & Technology, China in 2017.
</p>

<h4 class="archive__subtitle">{{ "Research Topics" }}</h4>
<p>
Currently, my research interest includes but not restricted to the following aspects of Machine Learning and Deep Learning:
<ul>
  <li>Automated Machine Learning (AutoML), e.g., Automated Data Optimization, Neural Architecture Search, Hyper-parameter Optimization.</li>
  <li>Deep Learning theory, e.g., Neural Tangent Kernel (NTK), Statistical Learning Theory.</li>
  <li>Optimization algorithms, e.g., zeroth-order optimization algorithms.</li>
  <li>Decision under uncertainty, e.g., Bayesian Optimization (BO), bandit algorithms.</li>
  <li>Collaborative Machine learning, e.g., data valuation.</li>
</ul>
</p>

<h4 class="archive__subtitle">{{ "Education" }}</h4>
<ul>
  <li>National University of Singapore (NUS), Singapore (Aug 2017 - present)</li>
  <ul>
    <li>Ph.D. student in Artiﬁcial Intelligence, School of Computing</li>
    <li>Advisor: <a href="https://www.comp.nus.edu.sg/~lowkh/research.html">Bryan Kian Hsiang Low</a></li>
  </ul>
  <li>Huazhong University of Science & Technology (HUST), China (Sep 2013 - June 2017)</li>
  <ul>
    <li>Bachelor of Computer Science, Honor of Outstanding Student</li>
  </ul>
</ul>


{{ content }}


<!-- {% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
