---
layout: archive
---

<h2 class="archive__title">{{ "About Me" }}</h2>
<p>
I am a 4-th year Ph.D. candidate in School of Computing, National University of Singapre (NUS). Currently, I am working in the MapleCG group under the supervision of Prof. <a href="https://www.comp.nus.edu.sg/~lowkh/research.html">Bryan Low</a>. Before that, I received my B.Sc degree in Department of Computer Science and Technology from Huazhong University of Science & Technology, China in 2017.
</p>

<h3 class="archive__subtitle">{{ "Research Topics" }}</h3>
<p>
I'm working on Automated Machine Learning (AutoML), including Neural Architecture Search, Hyper-parameter Optimization and etc. I'm also interested in the optimization pespective of Deep Learning, e.g., stochastic optimization algorithm, Neural Tangent Kernel and etc.
</p>

<h3 class="archive__subtitle">{{ "Education" }}</h3>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>


{{ content }}


<!-- {% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
