---
layout: archive
---

<h2 class="archive__title">{{ "About Me" }}</h2>
<p>
I am a Ph.D. candidate, under the supervision of Prof. Wang Wei at National University of Singapre (NUS). 
Before that, I received my B.Sc degree in Computer Science and Technology from Huazhong University of Science & Technology, China in 2017.
</p>

<h3 class="archive__subtitle">{{ "Research Topics" }}</h3>
<p>
Machine/deep learning, nonconvex/convex optimization, etc.
</p>


{{ content }}


<!-- {% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
